@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

#container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

header {}

#main {}

footer {}
